body {
  background-image: url("/gym.jpg");
  height: 100vh;
  background-size: cover;
  background-position-x: center;
  font-family: Arial, Helvetica;
  line-height: 1.5;
  margin: 0;

}
header {
  background: #333;
  color: rgb(220, 225, 40);
  text-align: center;
  padding: 0.1rem;
}

main {
  padding: 0.1rem;
}

nav {
  background: #444;
  padding: 0.1rem ;
}

nav ul {
  list-style: none;
  padding: 0;
  display: flex;
}

nav a {
  padding: 10px;
  color: rgb(220, 225, 40);;
  text-decoration: none;
}

nav .current > a {
  color: yellow;
}
